@model List<User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="main-container py-5">
    <div class="container-xxl my-5 py-5">
        <div class="col col-12 col-md-8 col-lg-7 py-5 ">
            <h1 class="main-title ">Step-by-step guide to choosing great font pairs</h1>
            <p class="main-text mt-3 mt-md-4 mt-lg-5 ">Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <a href="#" class="btn main-btn bg-orange btn-success rounded-0 border-0 py-3 px-5 mt-3 mt-md-4 mt-lg-5">Read More</a>
        </div>
    </div>
</div>
<div class="list-container mt-5">
    <div class="container-xxl">
        <h3 class="list-title text-center">List of Authors </h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-5">
            <div class="col mb-4">
                <div class="card h-100 text-center p-3 border-0 bg-light ">
                    <div class=" mx-auto mt-4 w-50">
                        <img src="./images/person-1.jpg" alt="person3-photo" class="rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="list-names">Floyd Miles</h5>
                        <p class="list-text">Voluptates nesciunt vitae quas amet praesentium amet</p>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <button type="button" class="btn list-button rounded-0 px-5 py-2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 text-center p-3 border-0 bg-light">
                    <div class=" mx-auto mt-4 w-50">
                        <img src="./images/person-2.jpg" alt="person3-photo" class="rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="list-names">Dianne Russell</h5>
                        <p class="list-text">Voluptates nesciunt vitae</p>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <button type="button" class="btn list-button rounded-0 px-5 py-2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 text-center  py-3 border-0 bg-light">
                    <div class=" mx-auto mt-4 w-50"> 
                        <img src="./images/person-3.jpg" alt="person3-photo" class="rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="list-names">Jenny Wilson</h5>
                        <p class="list-text">Voluptates nesciunt vitae</p>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <button type="button" class="btn list-button rounded-0 px-5 py-2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 text-center p-3 border-0 bg-light">
                    <div class=" mx-auto mt-4 w-50">
                        <img src="./images/person-4.jpg" alt="person3-photo" class="rounded-circle">
                    </div>
                    <div class="card-body">
                        <h5 class="list-names"> Leslie Alexander </h5>
                        <p class="list-text">Voluptates nesciunt vitae </p>
                    </div>
                    <div class="card-footer border-0 bg-transparent ">
                        <button type="button" class="btn list-button rounded-0 px-5 py-2">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
